body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.Home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.input-area {
  margin-bottom: 20px;
}

.main-input {
  padding: 10px;
  margin-right: 10px;
  font-size: 16px;
  background-color: #ffffff;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.adding-button {
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  border: none;
  cursor: pointer;
}

.output-area {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filter-buttons-block {
  margin-bottom: 20px;
}

.filter-button {
  border: none;
  padding: 8px 16px;
  font-size: 14px;
  background-color: var(--background-color);
  color: var(--text-color);
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
}

.todo-list-block {
  width: 300px;
}

.todo-info {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.checkbox-condition {
  margin-right: 10px;
}

.todo-text {
  margin-right: 10px;
}

.delete-button {
  padding: 8px 16px;
  font-size: 14px;
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.theme-button {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 8px 16px;
  font-size: 14px;
  background-color: var(--primary-color);
  color: var(--text-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

button {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

/* Светлая тема */
.light {
  background-color: #ffffff;
  color: #000000;
}

.light button {
  background-color: #007bff; 
  color: #ffffff;
}

/* Темная тема */
.dark {
  background-color: #333333;
  color: #ffffff;
}

.dark button {
  background-color: #6c757d; 
  color: #ffffff;
}

.dark .main-input {
  background-color: #fff;
}